# Ambientes virtuais
env/
.venv/
venv/

# Arquivos do Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Outros
.DS_Store
.idea/
.vscode/
simroel-py-v3/core/__pycache__/fes.cpython-313.pyc
simroel-py-v3/core/__pycache__/pcc.cpython-313.pyc
simroel-py-v3/core/__pycache__/pce.cpython-313.pyc
simroel-py-v3/core/__pycache__/pcep.cpython-313.pyc
simroel-py-v3/core/__pycache__/simulation.cpython-313.pyc
simroel-py-v3/crosstalk/__pycache__/crosstalk_main.cpython-313.pyc
simroel-py-v3/crosstalk/__pycache__/crosstalk_utils.cpython-313.pyc
simroel-py-v3/osnr/__pycache__/osnr_main.cpython-313.pyc
simroel-py-v3/osnr/__pycache__/osnr_utils.cpython-313.pyc
simroel-py-v3/core/__pycache__/fes.cpython-313.pyc
simroel-py-v3/core/__pycache__/pcc.cpython-313.pyc
simroel-py-v3/core/__pycache__/pce.cpython-313.pyc
simroel-py-v3/core/__pycache__/pcep.cpython-313.pyc
simroel-py-v3/core/__pycache__/simulation.cpython-313.pyc
simroel-py-v3/crosstalk/__pycache__/crosstalk_main.cpython-313.pyc
simroel-py-v3/crosstalk/__pycache__/crosstalk_utils.cpython-313.pyc
simroel-py-v3/osnr/__pycache__/osnr_main.cpython-313.pyc
simroel-py-v3/osnr/__pycache__/osnr_utils.cpython-313.pyc
simroel-py-v3/core/__pycache__/
simroel-py-v3/core/__pycache__/fes.cpython-313.pyc
simroel-py-v3/core/__pycache__/pcc.cpython-313.pyc
simroel-py-v3/core/__pycache__/pce.cpython-313.pyc
simroel-py-v3/core/__pycache__/pcep.cpython-313.pyc
simroel-py-v3/core/__pycache__/simulation.cpython-313.pyc
simroel-py-v3/crosstalk/__pycache__/crosstalk_main.cpython-313.pyc
simroel-py-v3/crosstalk/__pycache__/crosstalk_utils.cpython-313.pyc
simroel-py-v3/osnr/__pycache__/osnr_main.cpython-313.pyc
simroel-py-v3/osnr/__pycache__/osnr_utils.cpython-313.pyc
simroel-py-v3/routing/__pycache__/router.cpython-313.pyc
simroel-py-v3/utils/__pycache__/assignment.cpython-313.pyc
simroel-py-v3/utils/__pycache__/connection.cpython-313.pyc
simroel-py-v3/utils/__pycache__/fiber.cpython-313.pyc
simroel-py-v3/utils/__pycache__/modulation.cpython-313.pyc
simroel-py-v3/utils/__pycache__/stats.cpython-313.pyc
simroel-py-v3/core/__pycache__/fes.cpython-313.pyc
simroel-py-v3/core/__pycache__/pcc.cpython-313.pyc
simroel-py-v3/core/__pycache__/pce.cpython-313.pyc
simroel-py-v3/core/__pycache__/pcep.cpython-313.pyc
simroel-py-v3/core/__pycache__/simulation.cpython-313.pyc
simroel-py-v3/crosstalk/__pycache__/crosstalk_main.cpython-313.pyc
simroel-py-v3/crosstalk/__pycache__/crosstalk_utils.cpython-313.pyc
simroel-py-v3/osnr/__pycache__/osnr_main.cpython-313.pyc
simroel-py-v3/osnr/__pycache__/osnr_utils.cpython-313.pyc
